* {
    margin: 0;
    padding: 0;
    border: 0;
}

.content {
    background: url('../images/blurred-background.jpg') center/cover no-repeat;
    height: 100vh;
    width: 100vw;
}

.app-container {
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.weather-details {
    display: flex;
    width: 80%;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.3);
}

.hour-update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: rgba(0, 0, 0, 0.2) 0.5px solid;
    height: 100%;
    width: 100%;
}

.hour-update-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 65%;
}

.detailed-details {
    background: url('../images/background.jpg') center/cover no-repeat;
    width: 80%;
    height: 60%;
}

.current-hour {
    background-color: rgba(255, 255, 255, 0.4);
}

.daily-weather {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
    width: 35%;
    border-right: rgba(0, 0, 0, 0.2) 0.5px solid;
}

.daily-temp {
    font-weight: bold;
    font-size: 3rem;
}

.date, .icon-title {
    font-size: 1.2rem;
}

.weather-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.day-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

