* {
    margin: 0;
    padding: 0;
    border: 0;
}

.content {
    background: url('../images/blurred-background.jpg') center/cover no-repeat;
    height: 100vh;
    width: 100vw;
}

.app-container {
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.weather-details {
    display: flex;
    width: 80%;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.3);
}

.hour-update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: rgba(0, 0, 0, 0.2) 0.5px solid;
    height: 100%;
    width: 100%;
}

.hour-update-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 65%;
}

.detailed-details {
    background: url('../images/background.jpg') center/cover no-repeat;
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.current-hour {
    background-color: rgba(255, 255, 255, 0.4);
}

.daily-weather {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
    width: 35%;
    border-right: rgba(0, 0, 0, 0.2) 0.5px solid;
}

.daily-temp {
    font-weight: bold;
    font-size: 3rem;
}

.date, .icon-title {
    font-size: 1.2rem;
}

.weather-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.day-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detailed-daily-update {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 40px;
    padding: 20px;
}

.location {
    font-weight: bold;
    font-size: 2.2rem;
    grid-column: span 2;
}

.right-side {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.options-container {
    display: flex;
    gap: 25px;
    cursor: pointer;
}

.active {
    border-top: 4px solid yellow;
    padding-top: 5px;
}

.not-active {
    padding-top: 9px;
}

.search-container {
    padding: 20px;
}

.search-input {
    border-radius: 30px;
    height: 27px;
    width: 300px;
    text-align: center;
}

.suggestion-item {
    font-size: 1.5rem;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #FFF;
    color: #000;
}

.suggestions-container {
    text-align: center;
}